# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# JAX debug logs
jax_debug.log

# System files
.DS_Store
Thumbs.db
